# overview
Recomendation system menggunakan cosine similarity

types of recomedation system

- content based
content berbasis similarity, similarity based of content (tags)
->sportify

- colaborative filtering based
user interest about behavior user, similarity by behavior user
->facebook

-  hybrid 
gabungan antara content used by tags terhadap collaborative filtering by behavior data

in the project its used by content based system for recomendation system, because the collaborative must have user to behavior data by used the content.

# project overflow

Data -> preprocessing -> model building -> connect api (website) ->develope

In [1]:
# Data
"""
-> TMDB 5000 Movie Data set by Kaggle data set 
"""
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname,filename))

In [2]:
#load data
import numpy as np # linear algebra
import pandas as pd # data processing
movies = pd.read_csv("Datasets/tmdb_5000_movies.csv")
credits= pd.read_csv("Datasets/tmdb_5000_credits.csv")

In [3]:
# examine data
movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head(5)
# credits.head(1)["crew"].values

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
# analysis quantitu data
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [6]:
# less hectice data frame, most merge data of 2 data frame on one used merge
movies= pd.merge(movies,credits,on="title")

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
# check corelation field
corr_matriks = movies.corr()
corr_matriks["id"]

budget         -0.089099
id              1.000000
popularity      0.031240
revenue        -0.050530
runtime        -0.153580
vote_average   -0.270692
vote_count     -0.004096
movie_id        0.999843
Name: id, dtype: float64

In [9]:
# cut :

# budget ->not relevant for the data
# homepage -> not relevant for quality the similarity data
# id -> not relevant by id for data
# original_language -> not balanced data all because have the eng
# original_title ->original title cut of because the similarity have to title
# popularity ->if use this good but give the field ill complex
# production_comapny -> not relevant for quality
# production_countries -> this too
# release-date(not sure) -> i think is used but not sure becauase the date


# use the important field 

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [11]:
# check data missing -> haved the null value
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
# overview haved the null value just replace dropna,the dropna default axis=0->row
movies.dropna(inplace=True)
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [13]:
# cek redudansi data
movies.duplicated().sum()

0

In [14]:
# overview,genres,keywords,cast,crew have the dic list data, need convert that
# like this
print(movies.iloc[0].genres)
import ast # abstract syntax tree convert to the abstract tree

[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

In [15]:
# the result is dictionary value, convert by ast and take per value by dic
# make convert function
def convert(text):
    L=[]
    for i in ast.literal_eval(text):
        L.append(i["name"])
    return L

In [16]:
movies["genres"]=movies["genres"].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies["keywords"]=movies["keywords"].apply(convert)

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
movies["cast"]= movies["cast"].apply(convert)

In [21]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
movies["crew"]=movies["crew"].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux, R...","[Thomas Newman, Sam Mendes, Anna Pinnock, John..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[Hans Zimmer, Charles Roven, Christopher Nolan..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Andrew Stanton, John Lasseter..."

done the data dic value on the filed genres, keywords, cast and crew must be clear, use the abstract tree mthode to convert on the value from dict value typed

In [23]:
# this function to use ast for litera_eval->safelty evaluate expresion nod eor string
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [24]:
# if want to more complex to cast field
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [25]:
# if want to want more complex to direcotr field
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [26]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
188,27576,Salt,"As a CIA officer, Evelyn Salt swore an oath to...","[Action, Mystery, Thriller]","[assassination, spy, cia, kidnapping, cold war...","[Angelina Jolie, Liev Schreiber, Chiwetel Ejio...","[Avy Kaufman, James Newton Howard, Stuart Bair..."
2140,239678,This Is Where I Leave You,"When their father passes away, four grown, wor...","[Drama, Comedy]","[based on novel, funeral, dysfunctional family...","[Jason Bateman, Tina Fey, Adam Driver, Rose By...","[Michael Giacchino, Paula Weinstein, Shawn Lev..."
2310,22479,Kansas City,"Robert Altman's story is a riff on race, class...","[Thriller, Drama, Music, Crime]","[politician, kansas city, election, jazz music]","[Jennifer Jason Leigh, Miranda Richardson, Har...","[Geraldine Peroni, Elisabeth Leustig, Richard ..."
2267,10448,Rapa Nui,Inter-tribal rivalry leads to a competition to...,[Adventure],"[in love with enemy, indigenous, island]","[Jason Scott Lee, Esai Morales, Sandrine Holt,...","[Barrie M. Osborne, Kevin Costner, Stewart Cop..."
4526,35199,Wordplay,From the masters who create the mind-bending d...,[Documentary],"[competition, documentary, contest, crossword ...","[Will Shortz, Merl Reagle, Tyler Hinman, Trip ...","[Patrick Creadon, Patrick Creadon, Christine O..."

In [27]:
# on the overview look at that, so long string so hard to ansume for manchine
## must to split that
movies["overview"]=movies["overview"].apply(lambda x:x.split())

In [28]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1275,4965,Impostor,"[Gary, Sinise, plays, Spencer, Olham,, a, top-...","[Action, Science Fiction, Thriller]","[android, alien]","[Gary Sinise, Madeleine Stowe, Mekhi Phifer, V...","[Gary Sinise, Heidi Levitt, John Papsidera, Ph..."
4368,10183,Frozen River,"[Ray, Eddy,, an, upstate, New, York, trailer, ...",[Drama],"[human trafficking, woman director]","[Melissa Leo, Misty Upham, Charlie McDermott, ...","[Kate Williams, Courtney Hunt, Courtney Hunt, ..."
4107,331190,Captive,"[Based, on, a, miraculous, true, story, that, ...","[Crime, Drama, Thriller]","[hostage, based on true story, murder, indepen...","[Kate Mara, David Oyelowo, Michael Kenneth Wil...","[Ralph Winter, Melissa Kent, David Oyelowo, Je..."
4677,10218,Swingers,"[This, is, a, story, about, Mike,, a, guy, who...","[Comedy, Romance]","[independent film, stuffed animal, hollywood, ...","[Jon Favreau, Vince Vaughn, Ron Livingston, Pa...","[Stephen Mirrione, Doug Liman, Doug Liman, Jon..."
1498,8055,The Reader,"[The, story, of, Michael, Berg,, a, German, la...","[Drama, Romance]","[germany, war crimes, trial, female prisoner, ...","[Kate Winslet, Ralph Fiennes, David Kross, Jea...","[Roger Deakins, Stephen Daldry, Jina Jay, Sydn..."

In [29]:
"""
like that the spasi on the string is hard to ansume is problem be ansume different

babi guling
babiguling

on the model manchine is means different, must use the some funtion to convert that
"""
def collapse(L):
    L1=[]
    for i in L:
        L1.append(i.replace(" ",""))# change the spasi on the one word
    return L1

In [30]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [31]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[StephenE.Rivkin, RickCarter, ChristopherBoyes..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[DariuszWolski, GoreVerbinski, JerryBruckheime..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...","[ThomasNewman, SamMendes, AnnaPinnock, JohnLog..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...","[HansZimmer, CharlesRoven, ChristopherNolan, C..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...","[AndrewStanton, AndrewStanton, JohnLasseter, C..."

In [32]:
# create tags for content based similairty point
movies["tags"] =  movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [33]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...","[StephenE.Rivkin, RickCarter, ChristopherBoyes...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...","[DariuszWolski, GoreVerbinski, JerryBruckheime...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...","[ThomasNewman, SamMendes, AnnaPinnock, JohnLog...","[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...","[HansZimmer, CharlesRoven, ChristopherNolan, C...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...","[AndrewStanton, AndrewStanton, JohnLasseter, C...","[John, Carter, is, a, war-weary,, former, mili..."

In [34]:
new_movies = movies.drop(columns=['overview','genres','keywords','cast','crew'])
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [35]:
# give back the data seperti sbeelumnya on specifik on tags
# dikarenakan supaya memudahkan dalam proses create tags
new_movies['tags'] = new_movies['tags'].apply(lambda x: " ".join(x))
new_movies.head()
# and the data be means speare per field, setiap koma diartika setiap field yang
# berkaitan pada tags (overview','genres','keywords','cast','crew)
# sebelumnya diartikan per kata skrng per field dalam tags oleh manchine
# 5 base point of tags will got

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [36]:
# look that
new_movies.iloc[0].tags

"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee StephenE.Rivkin RickCarter ChristopherBoyes ChristopherBoyes MaliFinn JamesHorner JamesCameron JamesCameron JamesCameron JamesCameron JamesCameron AndrewMenzies JillBrooks MargerySimkin KevinIshioka DickBernstein ShannonMills DennieThorpe JanaVance DeborahLynnScott JonLandau SeanHaworth KimSinclair KimSinclair RichardF.Mays LaetaKalogridis MayesC.Rubeo MauroFiore ScottHerbertson WoodySchultz LindaDeVetta LindaDeVetta RichardBluck SimonBright RichardMartin SteveR.Moore JohnRefoua KarlJ.Martin ChilingLin IlramChoi StevenQuale CarlaMeyer NickBassett JillCormack AndyMcLaren TerryNotary GarrettWarren JonathanRothbart StefanDechant ToddCherniawsky MirandaRivers RobertStromberg JohnHarding RobertoDeAngelis MikeSmithson AlainLalanne LucasSalton JanaceTashjian StephenRosenbaum FrankieKarena LisaLovaas JonathanFawkner RobertBavin AnthonyAlmaraz CarolynM.Fenton BethKoenigsberg SamPage TexKadonaga KimFoscato TammyS.Lee DennyCaira JamesWaitkus AddisonTeague C.ScottBaker LukeCaska DavidChow JonathanDyer JosephHiura RebeccaJellie RobertAndrewJohnson MikeStassi JohnVillarino JeffreyWisniewski CherylNardi MarshallWinn GwendolynYatesWhittle WilliamStein LulaWashington ChrisDelConte R.ChristopherWhite DanLemmon TimNielsen MichaelMulholland ThomasNittmann EdsonWilliams ChristineCarr JohnBruno DavidEmmerichs ChristopherScarabosio JenniferTeves BrigitteYorke KenFischer IainHutton SteveIngram JoyceCox JennyFoster ChristopherMarino JimMilton CyndiOchs LucasPutnam Anthony'Max'Ivins JohnKnoll EricSaindon WayneStables DavidStinnett GuyWilliams StuartThorp GilesCoburn MarkFellman ScottSprague JeremyHollobon OrlandoMeunier TaisukeTanimura LiliaMishelAcevedo AlejandroM.Hernandez MarvinHall JudyAlley MikePerry AndrewMorley SethEngstrom EricOliver MatsuneSuzuki PaulTobin RoxaneGriffin ArunRam-Mohan GeorgiaLockhart-Adams ThrainShadbolt BradAlexander ShadiAlmassizadeh SimonClutterbuck GraemeDemmocks AdrianFernandes MitchGates JerryKung AndyLomas SebastianMarino MatthiasMenz SergeiNevshupov PhilippeRebours MichaelTakarangi DavidWeitzberg BenWhite MinWindle"

In [37]:
# get all lower for easy like some on saw for model
new_movies["tags"]=new_movies["tags"].apply(lambda x:x.lower())

In [38]:
new_movies.iloc[0].tags

"in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee stephene.rivkin rickcarter christopherboyes christopherboyes malifinn jameshorner jamescameron jamescameron jamescameron jamescameron jamescameron andrewmenzies jillbrooks margerysimkin kevinishioka dickbernstein shannonmills denniethorpe janavance deborahlynnscott jonlandau seanhaworth kimsinclair kimsinclair richardf.mays laetakalogridis mayesc.rubeo maurofiore scottherbertson woodyschultz lindadevetta lindadevetta richardbluck simonbright richardmartin stever.moore johnrefoua karlj.martin chilinglin ilramchoi stevenquale carlameyer nickbassett jillcormack andymclaren terrynotary garrettwarren jonathanrothbart stefandechant toddcherniawsky mirandarivers robertstromberg johnharding robertodeangelis mikesmithson alainlalanne lucassalton janacetashjian stephenrosenbaum frankiekarena lisalovaas jonathanfawkner robertbavin anthonyalmaraz carolynm.fenton bethkoenigsberg sampage texkadonaga kimfoscato tammys.lee dennycaira jameswaitkus addisonteague c.scottbaker lukecaska davidchow jonathandyer josephhiura rebeccajellie robertandrewjohnson mikestassi johnvillarino jeffreywisniewski cherylnardi marshallwinn gwendolynyateswhittle williamstein lulawashington chrisdelconte r.christopherwhite danlemmon timnielsen michaelmulholland thomasnittmann edsonwilliams christinecarr johnbruno davidemmerichs christopherscarabosio jenniferteves brigitteyorke kenfischer iainhutton steveingram joycecox jennyfoster christophermarino jimmilton cyndiochs lucasputnam anthony'max'ivins johnknoll ericsaindon waynestables davidstinnett guywilliams stuartthorp gilescoburn markfellman scottsprague jeremyhollobon orlandomeunier taisuketanimura liliamishelacevedo alejandrom.hernandez marvinhall judyalley mikeperry andrewmorley sethengstrom ericoliver matsunesuzuki paultobin roxanegriffin arunram-mohan georgialockhart-adams thrainshadbolt bradalexander shadialmassizadeh simonclutterbuck graemedemmocks adrianfernandes mitchgates jerrykung andylomas sebastianmarino matthiasmenz sergeinevshupov philipperebours michaeltakarangi davidweitzberg benwhite minwindle"

In [39]:
# conver text to vector
"""
text -> vector
     -> text vector
used :bag of vectors, idfword

karena data pada tags sangat banyak di dalamnya berisikan field
maka dari itu dipelrukan sebuah perubahan data agar memeiliki arah dalam setiap cordinat
2d:
|
|
|
|-----(5,6,7,8)
|         :
------------------------->

    w1|w2|w3|......|w ndatamovie|
m1  3   5  6         1
m2
m3

(ndatamovie,ndatamovie) convert to -> (ndata,w1+w2)

convert every movie is vector
example max feature is 5000 for take 5000 sample movie
"""
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words="english")#same like steamportter
vector=cv.fit_transform(new_movies["tags"]).toarray()

In [40]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
print(vector.shape)
print(new_movies["tags"].shape)
# datanya yg dari 1 di pecah ke dalam beberapa field sehingga memudahkan dalam
# merepresentasikan data

(4806, 5000)
(4806,)

we have 4806 vector and 5000 field from before is one
..............5000
[   ]
:
:
:
4806

|           o

|       /

|   o

|
_________________________________________________
/-> similarity for setiap content row
untuk mencari / => gunakan cosine similarity kemiripan dengan mencari arah
di setiap dot vector gradient=>gradient based learning is used from cosine similarity

In [42]:
# cek cv 
cv.get_feature_names()

c:\Users\User\env\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '1930s',
 '1940s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '19th',
 '19thcentury',
 '20',
 '20th',
 '24',
 '30',
 '3d',
 '40',
 '50',
 'aaroneckhart',
 'aaronseltzer',
 'aaronwilliams',
 'aaronzigman',
 'abandoned',
 'abigailbreslin',
 'ability',
 'able',
 'abrams',
 'abuse',
 'academy',
 'accepts',
 'accident',
 'accidentally',
 'account',
 'accused',
 'ackerman',
 'act',
 'action',
 'actions',
 'activities',
 'actor',
 'actress',
 'actually',
 'adam',
 'adamdale',
 'adamgoldberg',
 'adammckay',
 'adammilosmalley',
 'adams',
 'adamsandler',
 'adamscott',
 'adamshankman',
 'adaptation',
 'addiction',
 'adewaleakinnuoye',
 'adopted',
 'adoption',
 'adrienbrody',
 'adult',
 'adultery',
 'adventure',
 'adventures',
 'advice',
 'affair',
 'afghanistan',
 'africa',
 'african',
 'aftercreditsstinger',
 'afterlife',
 'agbaje',
 'age',
 'aged',
 'agency',
 'agent',
 'agents',
 'aging',
 'ago',
 'agree',
 'agrees',
 'aguilar',
 'ahead',
 'ai',
 'aid',
 'aidanquinn',
 'air',
 'airplane',
 'airport',
 'akivagoldsman',
 'al',
 'alanalda',
 'alanarkin',
 'alancumming',
 'aland',
 'alanmenken',
 'alanrickman',
 'alanrobertmurray',
 'alansilvestri',
 'alantudyk',
 'alaska',
 'albert',
 'albertbrooks',
 'albertgasser',
 'albertr',
 'albertwolsky',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alechammond',
 'alejandrogonzÃ¡leziÃ±Ã¡rritu',
 'alessandro',
 'alex',
 'alexanderpayne',
 'alexandredesplat',
 'alexapenavega',
 'alexgibson',
 'alexkendrick',
 'alexkurtzman',
 'alexrouse',
 'alfonsocuarÃ³n',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'alice',
 'aliciastevenson',
 'alien',
 'alieninvasion',
 'aliens',
 'alive',
 'allen',
 'allencovert',
 'allenhall',
 'allied',
 'allies',
 'allisonjanney',
 'allisonjones',
 'ally',
 'alpacino',
 'alter',
 'alternate',
 'alysondeemoore',
 'amanda',
 'amandamackey',
 'amandapeet',
 'amandaseyfried',
 'amazing',
 'ambition',
 'ambitious',
 'ambush',
 'america',
 'american',
 'americanfootball',
 'americans',
 'amico',
 'amnesia',
 'amp',
 'amyadams',
 'amypoehler',
 'amysmart',
 'anamariaquintana',
 'anastasn',
 'ancient',
 'anderson',
 'andiemacdowell',
 'andrew',
 'andrewa',
 'andrewadamson',
 'andrewcooper',
 'andrewdecristofaro',
 'andrewdunn',
 'andrewg',
 'andrewlaws',
 'andrewlazar',
 'andrewlesnie',
 'andrewm',
 'andrewmenzies',
 'andrewneskoromny',
 'andrewniccol',
 'andrews',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andy',
 'andydick',
 'andygarcÃ­a',
 'andykaplan',
 'andymalcolm',
 'andynelson',
 'andyrichter',
 'andysamberg',
 'andyserkis',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajolie',
 'angelo',
 'anger',
 'angerio',
 'angry',
 'animal',
 'animals',
 'animated',
 'animation',
 'anjelicahuston',
 'ann',
 'anna',
 'annab',
 'annabehlmer',
 'annafaris',
 'annakendrick',
 'annapaquin',
 'annapinnock',
 'annarane',
 'anndowd',
 'anne',
 'annefletcher',
 'annehathaway',
 'anneheche',
 'annekuljian',
 'annemccarthy',
 'annemoss',
 'annettebening',
 'annie',
 'anniepenn',
 'anniewelles',
 'annroth',
 'annscibelli',
 'anntenggren',
 'annual',
 'answer',
 'answers',
 'anthony',
 'anthonyanderson',
 'anthonyb',
 'anthonybregman',
 'anthonydininno',
 'anthonyhopkins',
 'anthonyj',
 'anthonykatagas',
 'anthonymackie',
 'anthonyminghella',
 'anthonyrizzo',
 'anti',
 'antihero',
 'antoni',
 'antonicorone',
 'antoniobanderas',
 'antonyelchin',
 'apart',
 'apartment',
 'apocalypse',
 'apocalyptic',
 'apone',
 'appears',
 'apple',
 'apprentice',
 'april',
 'archaeologist',
 'architect',
 'arcy',
 'area',
 'arena',
 'armed',
 'arms',
 'armstrong',
 'army',
 'armyanbernstein',
 'arnold',
 'arnoldschwarzenegger',
 'arnonmilchan',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'art',
 'arthur',
 'arthurj',
 'arthurmax',
 'arthurschmidt',
 'artificialintelligence',
 'artist',
 'artists',
 'artlinson',
 'arts',
 'ashley',
 'ashleyjudd',
 'ashtonkutcher',
 'asked',
 'asks',
 'aspiring',
 'assassin',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'astronaut',
 'asylum',
 'ateah',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempts',
 'attention',
 'attorney',
 'attractive',
 'audition',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'auto',
 'avenge',
 'aviarad',
 'avilerner',
 'avoid',
 'avykaufman',
 'award',
 'away',
 'awry',
 'baby',
 'bachelor',
 'backdrop',
 'bad',
 'bailey',
 'baker',
 'balance',
 'ball',
 'ballet',
 'band',
 'bank',
 'banker',
 'bar',
 'barbarabroccoli',
 'barbaraharris',
 'barbrastreisand',
 'barely',
 'barney',
 'barry',
 'barrybernardi',
 'barrychusid',
 'barryh',
 'barrylevinson',
 'barrymendel',
 'barrypepper',
 'barrysonnenfeld',
 'base',
 'baseball',
 'based',
 'basedoncomicbook',
 'basedonnovel',
 'basedonplay',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basiliwanyk',
 'basilpoledouris',
 'basketball',
 'batman',
 'battle',
 'battles',
 'battling',
 'bazluhrmann',
 'beach',
 'bear',
 'beast',
 'beat',
 'beatrixarunapasztor',
 'beauborders',
 'beauflynn',
 'beautiful',
 'beauty',
 'beckysullivan',
 'becominganadult',
 'bed',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'believe',
 'believed',
 'believes',
 'bell',
 'beloved',
 'ben',
 'benaffleck',
 'benavente',
 'benedictcumberbatch',
 'benfoster',
 'bengarant',
 'beniciodeltoro',
 'benjaminbratt',
 'benjamÃ­nfernÃ¡ndez',
 'benkingsley',
 'bennett',
 'bennettwalsh',
 'benstiller',
 'bent',
 'bentley',
 'benwaisbren',
 'berger',
 'berlin',
 'berndeichinger',
 'berniemac',
 'besser',
 'best',
 'bestfriend',
 'bet',
 'bethgrant',
 'betrayal',
 'bettemidler',
 'better',
 'bible',
 'big',
 'biggest',
 'biker',
 'billabbott',
 'billbernstein',
 'billcarraro',
 'billcobbs',
 'billcorso',
 'billhader',
 'billionaire',
 'billjohnson',
 'billmurray',
 'billnighy',
 'billnunn',
 'billo',
 'billpankow',
 'billpaxton',
 'billpope',
 'billpullman',
 'billy',
 'billybobthornton',
 'billyconnolly',
 'billycrudup',
 'billycrystal',
 'billyhopkins',
 'billyweber',
 'billyzane',
 'biography',
 'bird',
 'birth',
 'birthday',
 'bishop',
 'bissell',
 'bit',
 'bite',
 'bizarre',
 'black',
 'blackmail',
 'blackpeople',
 'blade',
 'blake',
 'blind',
 'bliss',
 'block',
 'blonde',
 'blood',
 'bloody',
 'bloom',
 'blow',
 'blue',
 'board',
 'boat',
 'bob',
 'bobbadami',
 'bobbalaban',
 'bobbeemer',
 'bobby',
 'bobbycannavale',
 'bobbyfarrelly',
 'bobgunton',
 'bobhoskins',
 'bobkensinger',
 'bobweinstein',
 'bobyari',
 'body',
 'bodyguard',
 'bokeemwoodbine',
 'bomb',
 'bombing',
 'bond',
 'bonniehunt',
 'bonnietimmermann',
 'book',
 'books',
 'border',
 'bored',
 'born',
 'boss',
 'boston',
 'bound',
 'bounty',
 'bountyhunter',
 'bourne',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyd',
 'boyfriend',
 'boyle',
 'boys',
 'bradbird',
 'braddourif',
 'bradgarrett',
 'bradleycooper',
 'bradpitt',
 'bradsherman',
 'brain',
 'brandontrost',
 'brave',
 'bravery',
 'break',
 'breaking',
 'breaks',
 'breckinmeyer',
 'brendanfraser',
 'brendangleeson',
 'brentspiner',
 'brettratner',
 'brian',
 'brianavery',
 'briancox',
 'briandennehy',
 'briandepalma',
 'briandoyle',
 'briangrazer',
 'brianhelgeland',
 'brianheller',
 'brianj',
 'briann',
 'brianrichards',
 'briantaylor',
 'briantyler',
 'bride',
 'bridge',
 'brielarson',
 'brien',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britishsecretservice',
 'brittanymurphy',
 'broadway',
 'broccoli',
 'broderickjohnson',
 'broke',
 'broken',
 'brooklyn',
 'brooks',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'brubaker',
 'bruce',
 'brucea',
 'bruceberman',
 'brucecampbell',
 'brucedern',
 'brucefowler',
 'brucegreen',
 'brucegreenwood',
 'brucemcgill',
 'brucespence',
 'brucewillis',
 'brutal',
 'brutality',
 'brutally',
 'bryan',
 'bryanbowen',
 'bryancranston',
 'bryansinger',
 'bubasman',
 'buck',
 'buckley',
 'buddy',
 'build',
 'building',
 'bully',
 'bumbling',
 'buried',
 'burke',
 'burns',
 'burton',
 'burtreynolds',
 'bus',
 'bush',
 'business',
 'businessman',
 'butler',
 'buy',
 'byrne',
 'cabin',
 'cabrera',
 'cal',
 'calebdeschanel',
 'california',
 'called',
 'calls',
 'callumkeithrennie',
 'calvin',
 'came',
 'camera',
 'cameron',
 'cameroncrowe',
 'camerondiaz',
 'camillefriend',
 'camp',
 'campaign',
 'campanelli',
 'campbell',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'capable',
 'capitalism',
 'captain',
 'captive',
 'capture',
 'captured',
 'car',
 'caracciolojr',
 'carchase',
 'carcrash',
 'card',
 'care',
 'career',
 'caribbean',
 'carl',
 'carlagugino',
 'carlson',
 'carmen',
 'carola',
 'carolineaaron',
 'carolinegoodall',
 'carolkiefer',
 'carolspier',
 'carpenter',
 'carrace',
 'carrie',
 'carriefisher',
 'carry',
 'carrying',
 'carter',
 'carterburwell',
 'caruso',
 'cary',
 'caryelwes',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castle',
 'cat',
 'catch',
 'catches',
 'cateblanchett',
 'catehardman',
 'catherinehardwicke',
 'catherineharper',
 'catherinekeener',
 'catherineo',
 'catherinezeta',
 'cathey',
 'catholic',
 'cathysandrich',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cave',
 'cedrictheentertainer',
 'celebrate',
 'celebration',
 'celebrity',
 'celiad',
 'celiaimrie',
 'celiaweston',
 'center',
 'centered',
 'central',
 'centuries',
 'century',
 'certain',
 'chadoman',
 'chain',
 'challenge',
 'challenged',
 'challenges',
 'champion',
 'championship',
 'chance',
 'chancekelly',
 'change',
 'changed',
 'changes',
 'changing',
 'channingtatum',
 'chaos',
 'character',
 'characters',
 'charge',
 'charged',
 'charles',
 'charlesdance',
 'charlesdurning',
 'charlesmaynes',
 'charlesroven',
 'charless',
 'charlesw',
 'charlie',
 'charliekaufman',
 'charliesheen',
 'charlizetheron',
 'charlotterampling',
 'charltonheston',
 'charming',
 'chase',
 'chavez',
 'chazzpalminteri',
 'cheating',
 'cheechmarin',
 'chef',
 'chevychase',
 'chicago',
 'chief',
 'child',
 'childabuse',
 'childhood',
 'children',
 'chilling',
 'chimcbride',
 'china',
 'chinese',
 'chip',
 'chiwetelejiofor',
 'chloÃ«gracemoretz',
 'choice',
 'choose',
 'chosen',
 'chris',
 'chrisanderson',
 'chrisbender',
 'chrisbrown',
 'chrisburdon',
 'chriscolumbus',
 'chriscooper',
 'chriscornwell',
 'chrisellis',
 'chrisevans',
 'chrishaarhoff',
 'chrishemsworth',
 'chrishogan',
 'chrisjenkins',
 'chrisl',
 'chrislebenzon',
 'chrismiller',
 'chriso',
 'chrispine',
 'chrispratt',
 'chrisrock',
 'chrissanders',
 'chrissnyder',
 'christ',
 'christensen',
 'christian',
 'christianbale',
 'christianity',
 'christianp',
 'christianslater',
 'christianwagner',
 'christinaapplegate',
 'christinaricci',
 'christinebaranski',
 'christinewilson',
 'christmas',
 'christmasparty',
 'christophebeck',
 'christopher',
 'christopherassells',
 'christopherboyes',
 'christopherguest',
 'christopherlee',
 'christopherlennertz',
 'christopherlloyd',
 'christophermcdonald',
 'christophermcquarrie',
 'christophermiller',
 'christophermintz',
 'christophernolan',
 'christopherplummer',
 'christophers',
 'christopherscarabosio',
 'christophert',
 'christopherwalken',
 'christopheryoung',
 'christophwaltz',
 'chrisweitz',
 'chronicles',
 'chu',
 'chuckduke',
 'chuckmichael',
 'church',
 'cia',
 'ciarÃ¡nhinds',
 'cillianmurphy',
 'cindycarr',
 'circle',
 'circumstances',
 'circus',
 'citizens',
 'city',
 'civil',
 'civilwar',
 'claim',
 'claims',
 'clair',
 'claire',
 'claireforlani',
 'clan',
 'clancybrown',
 'clark',
 'clarkgregg',
 'clash',
 'class',
 'classic',
 'classmate',
 'claudevandamme',
 'claytontownsend',
 'cleaduvall',
 'clean',
 'clear',
 'clerk',
 'client',
 'cliffcurtis',
 'cliffmartinez',
 'cliftoncollinsjr',
 'climbing',
 'clinteastwood',
 'clinthoward',
 'clintmansell',
 'clinton',
 'cliveowen',
 'clock',
 'clone',
 'clorisleachman',
 'close',
 'closer',
 'club',
 'clues',
 'coach',
 'coast',
 'cocaine',
 'code',
 'codycameron',
 'coe',
 'cohen',
 'cold',
 'coldwar',
 'cole',
 'colehauser',
 'colinanderson',
 'colinfarrell',
 'colinfirth',
 'colinsalmon',
 'colinwilson',
 'collapse',
 'colleague',
 'colleagues',
 'collect',
 'collection',
 'colleenatwood',
 'colleencamp',
 'college',
 'collide',
 'collins',
 'colmfeore',
 'colonel',
 'colorful',
 'coma',
 'combat',
 'come',
 'comedian',
 'comedy',
 'comes',
 'comic',
 'coming',
 'comingofage',
 'commander',
 'commit',
 'commitment',
 'committed',
 'common',
 'community',
 'company',
 'compete',
 'competition',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'computer',
 'concert',
 'condition',
 'confidence',
 'conflict',
 'confront',
 'connected',
 'connection',
 'connell',
 'connor',
 'conradbuffiv',
 'conradvernon',
 'consequences',
 'conspiracy',
 'contact',
 'contest',
 'continue',
 'continues',
 'contract',
 'control',
 'controversial',
 'convict',
 'convicted',
 'convince',
 'convinced',
 'convinces',
 'cook',
 'cool',
 'cooper',
 'cop',
 'cope',
 'cops',
 'coreenmayrs',
 'coreyburton',
 'corporate',
 'corporation',
 'corpse',
 'corrupt',
 'corruption',
 'cosmaspaulbolgerjr',
 'cost',
 'costanzo',
 'costas',
 'count',
 'country',
 'countryside',
 'couple',
 'couples',
 'courage',
 'course',
 'court',
 'courtcase',
 'cousin',
 'cover',
 'covert',
 'cowardliness',
 'cowboy',
 'crack',
 'craig',
 'craigalpert',
 'craigarmstrong',
 'craigbarron',
 'craigberkey',
 'craighenighan',
 'craigr',
 'craigrobinson',
 'craigt',
 'crash',
 'crazy',
 'create',
 ...]

In [43]:
# build the model
from sklearn.metrics.pairwise import cosine_similarity
similarity =cosine_similarity(vector)

In [44]:
similarity.shape
# is change the field is decrease karena cut di gradient learning nya
# the result is like that for oene sample
similarity[0]
# similarity will be one

array([1.        , 0.06775964, 0.02290694, ..., 0.01630387, 0.01749546,
       0.        ])

In [45]:
#function of recomended system
def recomend(movie):
    index = new_movies[new_movies["title"]==movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x : x[1])
    for i in distances[1:6]:# get 6 value for distances recomendasi 
        print(new_movies.iloc[i[0]].title)

In [46]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x : x[1])

[(0, 1.0),
 (25, 0.2788730589952011),
 (2409, 0.2673935429164744),
 (282, 0.24174688920761414),
 (279, 0.2330745053742094),
 (3443, 0.18802535827258876),
 (539, 0.18664987997671081),
 (587, 0.17727200782610344),
 (1216, 0.15731330124142315),
 (1444, 0.15569978883230456),
 (2786, 0.15194743527951726),
 (3730, 0.15075567228888181),
 (4192, 0.1462544848254261),
 (1920, 0.1448413648755803),
 (1109, 0.1333662673423161),
 (4048, 0.13196793041081598),
 (507, 0.13081398803354571),
 (199, 0.13065491598369758),
 (3327, 0.12974982402692048),
 (83, 0.12792042981336627),
 (108, 0.12712834523274566),
 (168, 0.1266600992762247),
 (94, 0.12208664567220492),
 (28, 0.12062447740929097),
 (2971, 0.11927604449408552),
 (3538, 0.11891767800211261),
 (3608, 0.11844484241978358),
 (1948, 0.11826247919781654),
 (1537, 0.1172544117802414),
 (184, 0.11725441178024137),
 (17, 0.11653431646335018),
 (4405, 0.11605177063713192),
 (74, 0.11581371547232745),
 (942, 0.11565903932254226),
 (973, 0.11565903932254226),
 (149, 0.11459194182538811),
 (661, 0.11453468879067492),
 (2204, 0.11412706387705432),
 (495, 0.11265439490322911),
 (7, 0.11225074206914831),
 (582, 0.11167086836213468),
 (3162, 0.1114989346676121),
 (260, 0.11134044285378082),
 (1204, 0.11044204887501098),
 (36, 0.10969086361906959),
 (1194, 0.10855649121315494),
 (363, 0.10830607221477648),
 (1344, 0.10830607221477648),
 (2333, 0.10811249552346708),
 (425, 0.10734844004467697),
 (1071, 0.107286780970064),
 (47, 0.10540925533894599),
 (4, 0.10514994558491723),
 (466, 0.10497277621629561),
 (972, 0.10487553416094877),
 (4490, 0.10478243557698859),
 (838, 0.10444659357341868),
 (1673, 0.10379985922153638),
 (4010, 0.10379985922153638),
 (931, 0.10341753799900383),
 (67, 0.10154529930749043),
 (158, 0.10112997936948631),
 (2075, 0.10050378152592121),
 (2731, 0.10050378152592121),
 (1201, 0.09913631941932194),
 (3354, 0.09855206599818045),
 (3622, 0.0978231976089037),
 (643, 0.09679386781875036),
 (1408, 0.09670980886427658),
 (549, 0.09542083559526843),
 (1275, 0.09534625892455924),
 (1808, 0.09534625892455924),
 (1938, 0.09534625892455924),
 (2999, 0.09496714704969829),
 (27, 0.0948209311861521),
 (93, 0.09482093118615209),
 (305, 0.09482093118615209),
 (557, 0.09417632186960223),
 (1329, 0.09417632186960223),
 (4336, 0.09417632186960223),
 (150, 0.09413041578748418),
 (508, 0.09346661829770421),
 (2496, 0.09331541849264238),
 (1965, 0.09237755128757118),
 (82, 0.09231861823449956),
 (1321, 0.09174698042719671),
 (3628, 0.09174698042719671),
 (432, 0.09103849893318917),
 (1037, 0.09090909090909091),
 (581, 0.0902550601789804),
 (164, 0.08934795112453976),
 (26, 0.08825378564286603),
 (502, 0.0879598994267085),
 (300, 0.08794080883518106),
 (13, 0.08772689266130253),
 (2169, 0.08747731351357967),
 (301, 0.08744460559936333),
 (342, 0.08663864733868618),
 (373, 0.08618128166583652),
 (800, 0.08618128166583652),
 (2515, 0.08618128166583652),
 (2686, 0.08618128166583652),
 (1396, 0.08594943801310502),
 (3999, 0.08570991287109667),
 (311, 0.08528028654224416),
 (577, 0.08528028654224416),
 (1156, 0.08494119857293758),
 (16, 0.08471737420873576),
 (322, 0.08428527216546854),
 (1327, 0.08382594846159087),
 (220, 0.08362420100070908),
 (1715, 0.08362420100070908),
 (2480, 0.08362420100070908),
 (4097, 0.08362420100070908),
 (334, 0.08349323114585988),
 (430, 0.08349323114585988),
 (127, 0.08292938847614972),
 (1831, 0.08291138969384851),
 (1299, 0.08261359951610162),
 (490, 0.08206099398622184),
 (2323, 0.08206099398622184),
 (2620, 0.08206099398622184),
 (111, 0.0817832910104912),
 (1945, 0.08151933134075308),
 (1383, 0.08131156281817417),
 (740, 0.08123623944599231),
 (31, 0.08058229640253804),
 (2856, 0.08058229640253804),
 (58, 0.08058229640253803),
 (1747, 0.08040302522073697),
 (172, 0.07987230638308718),
 (123, 0.07918075824648958),
 (139, 0.07915291201448847),
 (2789, 0.07884165279854435),
 (19, 0.07865665062071159),
 (203, 0.07850686719788597),
 (1220, 0.07850686719788597),
 (1322, 0.07850686719788597),
 (1249, 0.07848026822466853),
 (41, 0.07784989441615228),
 (2133, 0.07784989441615228),
 (461, 0.07754035086653924),
 (3407, 0.07754035086653924),
 (3630, 0.07754035086653924),
 (1658, 0.07736784709142126),
 (84, 0.07722206243750777),
 (1898, 0.07658395810674837),
 (208, 0.07597371763975863),
 (1047, 0.07597371763975863),
 (2378, 0.07597371763975863),
 (3537, 0.07597371763975863),
 (4468, 0.07597371763975863),
 (692, 0.07597371763975862),
 (1617, 0.07575757575757576),
 (55, 0.07542595478077752),
 (1002, 0.07537783614444091),
 (3154, 0.07537783614444091),
 (4000, 0.07537783614444091),
 (4198, 0.07537783614444091),
 (4348, 0.07537783614444091),
 (88, 0.07491109582924912),
 (151, 0.07491109582924912),
 (4545, 0.07491109582924912),
 (1355, 0.07479575920067658),
 (1031, 0.0746523347941139),
 (1833, 0.0746523347941139),
 (2868, 0.0746523347941139),
 (3376, 0.0746523347941139),
 (4135, 0.0746523347941139),
 (222, 0.07422696190252054),
 (939, 0.07422696190252054),
 (22, 0.07409237074573118),
 (413, 0.07409237074573118),
 (422, 0.07409237074573118),
 (595, 0.07409237074573118),
 (1096, 0.07409237074573118),
 (2713, 0.07409237074573118),
 (3675, 0.07409237074573118),
 (52, 0.07367094686837573),
 (375, 0.07367094686837573),
 (454, 0.07367094686837573),
 (1297, 0.07367094686837573),
 (2873, 0.07367094686837573),
 (3147, 0.07367094686837573),
 (2970, 0.07339758434175737),
 (2439, 0.07329991618892374),
 (627, 0.07312724241271307),
 (1832, 0.07312724241271307),
 (3721, 0.07312724241271307),
 (4203, 0.07312724241271307),
 (61, 0.07312724241271305),
 (1479, 0.07259540086406277),
 (1741, 0.07259540086406277),
 (2547, 0.07256321491663101),
 (1077, 0.07220404814318432),
 (2583, 0.07220404814318432),
 (3428, 0.07220404814318432),
 (238, 0.07207499701564472),
 (1418, 0.07207499701564472),
 (228, 0.071788415375658),
 (18, 0.07156562669645132),
 (271, 0.07106690545187017),
 (166, 0.07106690545187014),
 (1306, 0.07106690545187014),
 (1488, 0.07106690545187014),
 (2584, 0.07106690545187014),
 (767, 0.07057846732405855),
 (56, 0.07036672182012484),
 (332, 0.07036672182012484),
 (1439, 0.07036672182012484),
 (46, 0.07035264706814484),
 (3783, 0.06998185081086374),
 (785, 0.06963106238227912),
 (141, 0.06917144638660747),
 (1373, 0.06917144638660747),
 (278, 0.06902628054688187),
 (467, 0.06902628054688187),
 (2760, 0.06902628054688187),
 (187, 0.06902628054688185),
 (294, 0.06894502533266922),
 (3140, 0.06894502533266922),
 (81, 0.06872081327440495),
 (428, 0.06872081327440495),
 (246, 0.06865715340592497),
 (12, 0.06838416165518485),
 (33, 0.06838416165518485),
 (420, 0.06838416165518485),
 (1312, 0.06838416165518485),
 (368, 0.06795295885835007),
 (1982, 0.06795295885835007),
 (1, 0.06775963568181181),
 (98, 0.06775963568181181),
 (295, 0.06775963568181181),
 (1497, 0.06775963568181181),
 (3409, 0.06775963568181181),
 (257, 0.06741998624632421),
 (1512, 0.0671519136687817),
 (3309, 0.0671519136687817),
 (1274, 0.0670025210172808),
 (2820, 0.0670025210172808),
 (3102, 0.0670025210172808),
 (3498, 0.0670025210172808),
 (479, 0.06656025531923931),
 (513, 0.06656025531923931),
 (190, 0.06619033923214952),
 (791, 0.06609087961288129),
 (859, 0.06609087961288129),
 (4230, 0.06609087961288129),
 (457, 0.06598396520540799),
 (473, 0.06598396520540799),
 (777, 0.06598396520540799),
 (1178, 0.06598396520540799),
 (1603, 0.06598396520540799),
 (2521, 0.06579516949597691),
 (102, 0.0657951694959769),
 (3781, 0.0657951694959769),
 (206, 0.06542238933157164),
 (1611, 0.06542238933157164),
 (2106, 0.06542238933157164),
 (535, 0.06521546507260247),
 (754, 0.06521546507260247),
 (1290, 0.06521546507260247),
 (1570, 0.06521546507260247),
 (160, 0.06502560887623551),
 (330, 0.06487491201346024),
 (95, 0.0646508183835236),
 (185, 0.06465081838352359),
 (3620, 0.06437393994470235),
 (4673, 0.06437393994470235),
 (1030, 0.06434095304018192),
 (2882, 0.0642824346533225),
 (4256, 0.0642824346533225),
 (4259, 0.0642824346533225),
 (1727, 0.06428243465332249),
 (275, 0.06392027721005931),
 (1574, 0.06392027721005931),
 (1015, 0.06381996508895697),
 (1277, 0.06381996508895696),
 (290, 0.06356417261637283),
 (675, 0.06356417261637283),
 (1273, 0.06356417261637283),
 (1541, 0.06356417261637283),
 (1846, 0.06356417261637283),
 (2181, 0.06356417261637283),
 (91, 0.0632139541241014),
 (213, 0.06286946134619316),
 (808, 0.06286946134619316),
 (1524, 0.06286946134619316),
 (1655, 0.06286946134619316),
 (3671, 0.06286946134619316),
 (4331, 0.06286946134619316),
 (1086, 0.06278421457973482),
 (2450, 0.06278421457973482),
 (2596, 0.06278421457973482),
 (3801, 0.06278421457973482),
 (1019, 0.06232979933389715),
 (1233, 0.06203228069323139),
 (2013, 0.06203228069323139),
 (2456, 0.061545745489666376),
 (2661, 0.061545745489666376),
 (3736, 0.061545745489666376),
 (4018, 0.061545745489666376),
 (4623, 0.061545745489666376),
 (270, 0.06139245572364644),
 (122, 0.061306731982893714),
 (358, 0.061306731982893714),
 (775, 0.061306731982893714),
 (1823, 0.06093936867726088),
 (356, 0.06060606060606061),
 (1175, 0.06060606060606061),
 (1195, 0.06060606060606061),
 (1276, 0.06060606060606061),
 (1458, 0.06060606060606061),
 (4083, 0.06060606060606061),
 (4205, 0.06060606060606061),
 (4343, 0.06060606060606061),
 (4654, 0.06060606060606061),
 (544, 0.06049616738671898),
 (3008, 0.06049616738671898),
 (1501, 0.06030226891555273),
 (1589, 0.06030226891555273),
 (1686, 0.06030226891555273),
 (3093, 0.06030226891555273),
 (3839, 0.06030226891555273),
 (3954, 0.06030226891555273),
 (87, 0.060062497513037265),
 (687, 0.060062497513037265),
 (778, 0.060062497513037265),
 (979, 0.060062497513037265),
 (568, 0.06006249751303726),
 (223, 0.06000300022501876),
 (3340, 0.0599288766633993),
 (5, 0.059708143402653215),
 (169, 0.059708143402653215),
 (157, 0.05927389659658494),
 (854, 0.05927389659658494),
 (2072, 0.05927389659658494),
 (1575, 0.059131239598908265),
 (1721, 0.059131239598908265),
 (1756, 0.059131239598908265),
 (2652, 0.059131239598908265),
 (3055, 0.059131239598908265),
 (131, 0.058639932951139),
 (214, 0.058639932951139),
 (236, 0.058639932951139),
 (547, 0.058639932951139),
 (813, 0.058639932951139),
 (1294, 0.058639932951139),
 (1487, 0.058639932951139),
 (2135, 0.058639932951139),
 (253, 0.058416636436065136),
 (266, 0.058416636436065136),
 (988, 0.05802588531856596),
 (1924, 0.05802588531856596),
 (2274, 0.05802588531856596),
 (2388, 0.05802588531856596),
 (2796, 0.05802588531856596),
 (4516, 0.05802588531856596),
 (4641, 0.05802588531856596),
 (1525, 0.05802588531856595),
 (3926, 0.05802588531856595),
 (153, 0.05802588531856594),
 (107, 0.05764287198883955),
 (1089, 0.05764287198883955),
 (10, 0.0574307323005264),
 (68, 0.0574307323005264),
 (371, 0.0574307323005264),
 (1011, 0.0574307323005264),
 (1082, 0.0574307323005264),
 (1357, 0.0574307323005264),
 (2488, 0.0574307323005264),
 (4079, 0.0574307323005264),
 (51, 0.05726734439533746),
 (579, 0.05726734439533746),
 (2284, 0.05726734439533746),
 (922, 0.05698028822981897),
 (2417, 0.05698028822981897),
 (2660, 0.05698028822981897),
 (3297, 0.05698028822981897),
 (3663, 0.05698028822981897),
 (4090, 0.05698028822981897),
 (487, 0.05685352436149611),
 (505, 0.05685352436149611),
 (933, 0.05685352436149611),
 (1752, 0.05685352436149611),
 (410, 0.05629337745609987),
 (596, 0.05629337745609987),
 (1278, 0.05629337745609987),
 (3464, 0.05629337745609987),
 (125, 0.056232155711553336),
 (660, 0.055989251095585425),
 (786, 0.055989251095585425),
 (2212, 0.055989251095585425),
 (2396, 0.055989251095585425),
 (2571, 0.055989251095585425),
 (2817, 0.055989251095585425),
 (3890, 0.055989251095585425),
 (242, 0.05583543418106734),
 (249, 0.055749467333806056),
 (870, 0.055749467333806056),
 (898, 0.055749467333806056),
 (4492, 0.055749467333806056),
 (85, 0.05527899928227821),
 (50, 0.05522102443750549),
 (400, 0.05522102443750549),
 (2005, 0.05522102443750549),
 (3441, 0.05522102443750549),
 (239, 0.05515861602679127),
 (1004, 0.055048188256318034),
 (1280, 0.055048188256318034),
 (1301, 0.055048188256318034),
 (2634, 0.055048188256318034),
 (2651, 0.055048188256318034),
 (2794, 0.055048188256318034),
 (2840, 0.055048188256318034),
 (4626, 0.055048188256318034),
 (20, 0.05482024446868429),
 (746, 0.05470732932414788),
 (1828, 0.05470732932414788),
 (529, 0.054505828347310714),
 (101, 0.05420770854544945),
 (618, 0.05420770854544945),
 (1878, 0.05420770854544945),
 (2056, 0.05420770854544945),
 (142, 0.05415303610738824),
 (901, 0.05415303610738824),
 (4657, 0.05415303610738824),
 (365, 0.05393598899705937),
 (335, 0.05372153093502536),
 (2762, 0.05372153093502536),
 (2968, 0.05372153093502536),
 (4045, 0.05372153093502536),
 (4737, 0.05372153093502536),
 (307, 0.05372153093502535),
 (241, 0.053300179088902604),
 (325, 0.053300179088902604),
 (2247, 0.053300179088902604),
 (2644, 0.053300179088902604),
 (3910, 0.053300179088902604),
 (2386, 0.05326689767504943),
 (2448, 0.05326689767504943),
 (105, 0.05324820425539145),
 (134, 0.05324820425539145),
 (469, 0.05324820425539145),
 (483, 0.05324820425539145),
 (836, 0.05324820425539145),
 (1346, 0.05324820425539145),
 (162, 0.052486388108147805),
 (389, 0.052486388108147805),
 (691, 0.052486388108147805),
 (715, 0.052486388108147805),
 (1700, 0.052486388108147805),
 (2562, 0.052486388108147805),
 (2851, 0.052486388108147805),
 (3235, 0.052486388108147805),
 (3423, 0.052486388108147805),
 (3816, 0.052486388108147805),
 (312, 0.05233791146525731),
 (900, 0.05233791146525731),
 (1282, 0.05233791146525731),
 (1056, 0.05189992961076819),
 (1139, 0.05189992961076819),
 (2880, 0.05189992961076819),
 (3013, 0.05189992961076819),
 (3155, 0.05189992961076819),
 (3253, 0.05189992961076819),
 (3949, 0.05189992961076819),
 (306, 0.051708768999501914),
 (315, 0.051708768999501914),
 (570, 0.051708768999501914),
 (781, 0.051708768999501914),
 (894, 0.051708768999501914),
 (1560, 0.051708768999501914),
 (1854, 0.051708768999501914),
 (2093, 0.051708768999501914),
 (2167, 0.051708768999501914),
 (3431, 0.05147276243214553),
 (35, 0.05105597207116558),
 (501, 0.05105597207116558),
 (612, 0.05105597207116558),
 (2498, 0.05105597207116558),
 (773, 0.05096471914376255),
 (794, 0.05096471914376255),
 (920, 0.05096471914376255),
 (1790, 0.05096471914376255),
 (4123, 0.05096471914376255),
 (14, 0.050649145093172414),
 (103, 0.050649145093172414),
 (170, 0.050649145093172414),
 (232, 0.050649145093172414),
 (329, 0.050649145093172414),
 (446, 0.050649145093172414),
 (607, 0.050649145093172414),
 (2763, 0.050649145093172414),
 (4277, 0.050649145093172414),
 (183, 0.050251890762960605),
 (243, 0.050251890762960605),
 (768, 0.050251890762960605),
 (799, 0.050251890762960605),
 (2877, 0.050251890762960605),
 (3218, 0.050251890762960605),
 (3527, 0.050251890762960605),
 (4502, 0.050251890762960605),
 (4718, 0.050251890762960605),
 (97, 0.0502518907629606),
 (626, 0.0502518907629606),
 (996, 0.0502518907629606),
 (1181, 0.0502518907629606),
 (1616, 0.0502518907629606),
 (2251, 0.0502518907629606),
 (3301, 0.0502518907629606),
 (3310, 0.0502518907629606),
 (193, 0.05000250018751563),
 (350, 0.04986383946711772),
 (1555, 0.04986383946711772),
 (960, 0.04975678616887768),
 (468, 0.04956815970966097),
 (1032, 0.04956815970966097),
 (1145, 0.04956815970966097),
 (1523, 0.04956815970966097),
 (2259, 0.04956815970966097),
 (3059, 0.04956815970966097),
 (3907, 0.04956815970966097),
 (4538, 0.04956815970966097),
 (4640, 0.04956815970966097),
 (90, 0.049514659251858884),
 (1641, 0.049484641268347035),
 (32, 0.04948464126834703),
 (262, 0.04948464126834703),
 (812, 0.04948464126834703),
 (2003, 0.04948464126834703),
 (3000, 0.04948464126834703),
 (304, 0.049276032999090225),
 (124, 0.04911396457891715),
 (126, 0.04911396457891715),
 (129, 0.04911396457891715),
 (510, 0.04911396457891715),
 (603, 0.04911396457891715),
 (690, 0.04911396457891715),
 (1202, 0.04911396457891715),
 (3017, 0.04911396457891715),
 (4305, 0.04911396457891715),
 (207, 0.04891159880445185),
 (245, 0.04891159880445185),
 (369, 0.04891159880445185),
 (937, 0.04891159880445185),
 (1142, 0.04891159880445185),
 (1446, 0.04891159880445185),
 (1942, 0.04891159880445185),
 (2018, 0.04891159880445185),
 (2527, 0.04891159880445185),
 (2948, 0.04891159880445185),
 (3022, 0.04891159880445185),
 (3028, 0.04891159880445185),
 (3091, 0.04891159880445185),
 (3190, 0.04891159880445185),
 (3206, 0.04891159880445185),
 (4451, 0.04891159880445185),
 (788, 0.04875149494180871),
 (1288, 0.04875149494180871),
 (2203, 0.04875149494180871),
 (2410, 0.04875149494180871),
 (3398, 0.04875149494180871),
 (3976, 0.04875149494180871),
 (4165, 0.04875149494180871),
 (4353, 0.04875149494180871),
 (4390, 0.04875149494180871),
 (15, 0.04839693390937518),
 (100, 0.04839693390937518),
 (403, 0.04835490443213829),
 (814, 0.04828045495852676),
 (1207, 0.04828045495852676),
 (2163, 0.04828045495852676),
 (148, 0.04804999801042981),
 (303, 0.04804999801042981),
 (728, 0.04804999801042981),
 (1144, 0.04804999801042981),
 (491, 0.047710417797634214),
 (1639, 0.047710417797634214),
 (752, 0.047673129462279626),
 (827, 0.047673129462279626),
 (1005, 0.047673129462279626),
 (1269, 0.047673129462279626),
 (2264, 0.047673129462279626),
 (2632, 0.047673129462279626),
 (2650, 0.047673129462279626),
 (3355, 0.047673129462279626),
 (4180, 0.047673129462279626),
 (2683, 0.04767312946227962),
 (230, 0.04737793696791344),
 (381, 0.04737793696791344),
 (1158, 0.04737793696791344),
 (1168, 0.04737793696791344),
 (2860, 0.04737793696791344),
 (3151, 0.04737793696791344),
 (3374, 0.04737793696791344),
 (3657, 0.04737793696791344),
 (3832, 0.04737793696791344),
 (4412, 0.04737793696791344),
 (476, 0.047088160934801115),
 (624, 0.047088160934801115),
 (1460, 0.047088160934801115),
 (1614, 0.047088160934801115),
 (2175, 0.047088160934801115),
 (2253, 0.047088160934801115),
 (2395, 0.047088160934801115),
 (2502, 0.047088160934801115),
 (2592, 0.047088160934801115),
 (3225, 0.047088160934801115),
 (3292, 0.047088160934801115),
 (3822, 0.047088160934801115),
 (182, 0.04706520789374209),
 (1534, 0.047052311549372366),
 (175, 0.046524210519923545),
 (233, 0.046524210519923545),
 (349, 0.046524210519923545),
 (980, 0.046524210519923545),
 (987, 0.046524210519923545),
 (1378, 0.046524210519923545),
 (1473, 0.046524210519923545),
 (2363, 0.046524210519923545),
 (2701, 0.046524210519923545),
 (3806, 0.046524210519923545),
 (628, 0.04642070825485275),
 (3368, 0.04642070825485275),
 (92, 0.04611429759107164),
 (227, 0.04611429759107164),
 (313, 0.04611429759107164),
 (589, 0.04611429759107164),
 (634, 0.04611429759107164),
 (1496, 0.04611429759107164),
 (2291, 0.04611429759107164),
 (2659, 0.04611429759107164),
 (3069, 0.04611429759107164),
 (3982, 0.04611429759107164),
 (4290, 0.04611429759107164),
 (4320, 0.04611429759107164),
 (4403, 0.04611429759107164),
 (4638, 0.04611429759107164),
 (292, 0.045980048987170286),
 (653, 0.045980048987170286),
 (680, 0.045980048987170286),
 (3389, 0.045980048987170286),
 (3881, 0.045980048987170286),
 (72, 0.04581387551626997),
 (63, 0.04551924946659459),
 (21, 0.045454545454545456),
 (39, 0.045454545454545456),
 (138, 0.045454545454545456),
 (511, 0.045454545454545456),
 (530, 0.045454545454545456),
 (536, 0.045454545454545456),
 (1367, 0.045454545454545456),
 (2354, 0.045454545454545456),
 (2792, 0.045454545454545456),
 (3449, 0.045454545454545456),
 (43, 0.045230235436850556),
 (635, 0.045230235436850556),
 (71, 0.044946657497549475),
 (86, 0.044946657497549475),
 (117, 0.044946657497549475),
 (543, 0.044946657497549475),
 (572, 0.044946657497549475),
 (1027, 0.044946657497549475),
 (1634, 0.044946657497549475),
 (1656, 0.044946657497549475),
 (1765, 0.044946657497549475),
 (2052, 0.044946657497549475),
 (2712, 0.044946657497549475),
 (2801, 0.044946657497549475),
 (3255, 0.044946657497549475),
 (4061, 0.044946657497549475),
 (4216, 0.044946657497549475),
 (4472, 0.044946657497549475),
 (11, 0.044455422447438706),
 (70, 0.044455422447438706),

In [47]:
# this is testing result
recomend("Gandhi")

The Wind That Shakes the Barley
A Passage to India
Ramanujan
Guiana 1838
Lion of the Desert

In [48]:
# save model used pickle
import pickle
#save data for model
pickle.dump(new_movies,open("movie_list.pkl","wb"))#weight binary format model saved
#save model similarity yang di train dnegan data new movie
pickle.dump(similarity,open("similarity.pkl","wb"))